# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Node / React Native
node_modules/
.expo/
ios/
dist/
build/
android/.gradle/
android/build/
android/app/build/
*.jks
*.keystore
android/app/debug.keystore

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store
